.categoryFormContainer {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0.5rem;
  margin: 0.1rem;
}

.categoryFormInputStyle {
  width: 50%;
  font-size: 1.1rem;
  padding: 0.2rem;
  margin: 0.1rem;
}

